body {
  margin-top: 1.0em;
  background-color: gray;
  font-family: Helvetica, Arial, FreeSans, san-serif;
  color: #ffffff;
  text-align: left;
}
#container {
  margin: 0 auto;
  width: 700px;
}
h1 { font-size: 3.8em; color: #ffffff; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #ffffff; }
h3 { padding-left: 15px; text-align: left; color: #ffffff; font-size: 1.1em; }
a { color: #ffffff; }
p { padding-left: 15px; text-align: left; color: #ffffff; font-weight: bold;}
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { color: #fff; padding-left: 15px; text-align:left; font-weight: bold;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }
	
	#flex-box{
		position: relative;
		width: 980px;
		margin: 0 auto;
		padding: 10px 32px 200px;
		background: none;
		min-height: 500px;
		height: auto;
	}